<div data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
  <%= turbo_stream_from current_user %>
  <div id="entries-container" class="entry-container" data-target="infinite-scroll.entries">
    <%= render "entries" %>
  </div>

  <div data-target="infinite-scroll.pagination">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
