// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.attachment--preview {
	figcaption {
		display: block;
	}

	.attachment__name {
		display: block;
		text-align: center;
	}
}

.attachment--file {
	figcaption  {
		display: inline-block;
	}

	.attachment__name {
		display: block;
		text-align: left;
	}
}

.attachment {
	width: 100%;
	border: none !important;
}

.attachment__download {
	text-decoration: underline;
}

.attachment__size::before {
	content: '' !important;
}

.attachment__caption__text {
	word-break: break-word;
}

.entry-updated-at {
	margin-bottom: 0;
	padding-bottom: 1em;
}

.delete-btn {
	text-decoration: none;
	color: black;

	&:hover {
		color: red;
	}
	padding-left: 0.5em;
}

.edit-btn {
	text-decoration: none;
	color: black;
	padding-top: 1em;

	&:hover {
		color: rgba(0, 0, 0, 0.6);
	}
}

.edit-btn:before {
	content: "";
	border: 1px solid rgba(0, 0, 0, 0.6);
	margin-top: 1em;
	margin-bottom: 1em;
	display: block;
	max-width: 25%;
}
